---
import Layout from "../layouts/Layout.astro";
import AdminView from "../components/Admin";

import type { EventRowType } from "../components/EventRow";

const data = {
  events: [
    {
      id: 1,
      home: "Team 1",
      away: "Team 2",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 1,
    },
    {
      id: 2,
      home: "Team 3",
      away: "Team 4",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 1,
    },
    {
      id: 3,
      home: "Team 5",
      away: "Team 6",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 1,
    },
    {
      id: 4,
      home: "Team 7",
      away: "Team 8",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 1,
    },
    {
      id: 5,
      home: "Team 9",
      away: "Team 10",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 1,
    },
    {
      id: 6,
      home: "Team 11",
      away: "Team 12",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 1,
    },
    {
      id: 7,
      home: "Team 13",
      away: "Team 14",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 1,
    },
    {
      id: 8,
      home: "Team 15",
      away: "Team 16",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 1,
    },
    {
      id: 9,
      home: "Team 17",
      away: "Team 18",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 1,
    },
    {
      id: 10,
      home: "Team 19",
      away: "Team 20",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 1,
    },
    {
      id: 11,
      home: "Team 21",
      away: "Team 22",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 2,
    },
    {
      id: 12,
      home: "Team 23",
      away: "Team 24",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 2,
    },
    {
      id: 13,
      home: "Team 25",
      away: "Team 26",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 2,
    },
    {
      id: 14,
      home: "Team 27",
      away: "Team 28",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 2,
    },
    {
      id: 15,
      home: "Team 29",
      away: "Team 30",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 2,
    },
    {
      id: 16,
      home: "Team 31",
      away: "Team 32",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 2,
    },
    {
      id: 17,
      home: "Team 33",
      away: "Team 34",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 2,
    },
    {
      id: 18,
      home: "Team 35",
      away: "Team 36",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 2,
    },
    {
      id: 19,
      home: "Team 37",
      away: "Team 38",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 2,
    },
    {
      id: 20,
      home: "Team 39",
      away: "Team 40",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 2,
    },
    {
      id: 21,
      home: "Team 41",
      away: "Team 42",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 3,
    },
    {
      id: 22,
      home: "Team 43",
      away: "Team 44",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 3,
    },
    {
      id: 23,
      home: "Team 45",
      away: "Team 46",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 3,
    },
    {
      id: 24,
      home: "Team 47",
      away: "Team 48",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 3,
    },
    {
      id: 25,
      home: "Team 49",
      away: "Team 50",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 3,
    },
    {
      id: 26,
      home: "Team 51",
      away: "Team 52",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 3,
    },
    {
      id: 27,
      home: "Team 53",
      away: "Team 54",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 3,
    },
    {
      id: 28,
      home: "Team 55",
      away: "Team 56",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 3,
    },
    {
      id: 29,
      home: "Team 57",
      away: "Team 58",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 3,
    },
    {
      id: 30,
      home: "Team 59",
      away: "Team 60",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 3,
    },
    {
      id: 31,
      home: "Team 61",
      away: "Team 62",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 4,
    },
    {
      id: 32,
      home: "Team 63",
      away: "Team 64",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 4,
    },
    {
      id: 33,
      home: "Team 65",
      away: "Team 66",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 4,
    },
    {
      id: 34,
      home: "Team 67",
      away: "Team 68",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 4,
    },
    {
      id: 35,
      home: "Team 69",
      away: "Team 70",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 4,
    },
    {
      id: 36,
      home: "Team 71",
      away: "Team 72",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 4,
    },
    {
      id: 37,
      home: "Team 73",
      away: "Team 74",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 4,
    },
    {
      id: 38,
      home: "Team 75",
      away: "Team 76",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 4,
    },
    {
      id: 39,
      home: "Team 77",
      away: "Team 78",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 4,
    },
    {
      id: 40,
      home: "Team 79",
      away: "Team 80",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 4,
    },
    {
      id: 41,
      home: "Team 81",
      away: "Team 82",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 5,
    },
    {
      id: 42,
      home: "Team 83",
      away: "Team 84",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 5,
    },
    {
      id: 43,
      home: "Team 85",
      away: "Team 86",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 5,
    },
    {
      id: 44,
      home: "Team 87",
      away: "Team 88",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 5,
    },
    {
      id: 45,
      home: "Team 89",
      away: "Team 90",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 5,
    },
    {
      id: 46,
      home: "Team 91",
      away: "Team 92",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 5,
    },
    {
      id: 47,
      home: "Team 93",
      away: "Team 94",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 5,
    },
    {
      id: 48,
      home: "Team 95",
      away: "Team 96",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 5,
    },
    {
      id: 49,
      home: "Team 97",
      away: "Team 98",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 5,
    },
    {
      id: 50,
      home: "Team 99",
      away: "Team 100",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 5,
    },
    {
      id: 51,
      home: "Team 101",
      away: "Team 102",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 6,
    },
    {
      id: 52,
      home: "Team 103",
      away: "Team 104",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 6,
    },
    {
      id: 53,
      home: "Team 105",
      away: "Team 106",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 6,
    },
    {
      id: 54,
      home: "Team 107",
      away: "Team 108",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 6,
    },
    {
      id: 55,
      home: "Team 109",
      away: "Team 110",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 6,
    },
    {
      id: 56,
      home: "Team 111",
      away: "Team 112",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 6,
    },
    {
      id: 57,
      home: "Team 113",
      away: "Team 114",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 6,
    },
    {
      id: 58,
      home: "Team 115",
      away: "Team 116",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 6,
    },
    {
      id: 59,
      home: "Team 117",
      away: "Team 118",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 6,
    },
    {
      id: 60,
      home: "Team 119",
      away: "Team 120",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 6,
    },
    {
      id: 61,
      home: "Team 121",
      away: "Team 122",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 7,
    },
    {
      id: 62,
      home: "Team 123",
      away: "Team 124",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 7,
    },
    {
      id: 63,
      home: "Team 125",
      away: "Team 126",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 7,
    },
    {
      id: 64,
      home: "Team 127",
      away: "Team 128",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 7,
    },
    {
      id: 65,
      home: "Team 129",
      away: "Team 130",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 7,
    },
    {
      id: 66,
      home: "Team 131",
      away: "Team 132",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 7,
    },
    {
      id: 67,
      home: "Team 133",
      away: "Team 134",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 7,
    },
    {
      id: 68,
      home: "Team 135",
      away: "Team 136",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 7,
    },
    {
      id: 69,
      home: "Team 137",
      away: "Team 138",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 7,
    },
    {
      id: 70,
      home: "Team 139",
      away: "Team 140",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 7,
    },
    {
      id: 71,
      home: "Team 141",
      away: "Team 142",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 8,
    },
    {
      id: 72,
      home: "Team 143",
      away: "Team 144",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 8,
    },
    {
      id: 73,
      home: "Team 145",
      away: "Team 146",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 8,
    },
    {
      id: 74,
      home: "Team 147",
      away: "Team 148",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 8,
    },
    {
      id: 75,
      home: "Team 149",
      away: "Team 150",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 8,
    },
    {
      id: 76,
      home: "Team 151",
      away: "Team 152",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 8,
    },
    {
      id: 77,
      home: "Team 153",
      away: "Team 154",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 8,
    },
    {
      id: 78,
      home: "Team 155",
      away: "Team 156",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 8,
    },
    {
      id: 79,
      home: "Team 157",
      away: "Team 158",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 8,
    },
    {
      id: 80,
      home: "Team 159",
      away: "Team 160",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 8,
    },
    {
      id: 81,
      home: "Team 161",
      away: "Team 162",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 9,
    },
    {
      id: 82,
      home: "Team 163",
      away: "Team 164",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 9,
    },
    {
      id: 83,
      home: "Team 165",
      away: "Team 166",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 9,
    },
    {
      id: 84,
      home: "Team 167",
      away: "Team 168",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 9,
    },
    {
      id: 85,
      home: "Team 169",
      away: "Team 170",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 9,
    },
    {
      id: 86,
      home: "Team 171",
      away: "Team 172",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 9,
    },
    {
      id: 87,
      home: "Team 173",
      away: "Team 174",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 9,
    },
    {
      id: 88,
      home: "Team 175",
      away: "Team 176",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 9,
    },
    {
      id: 89,
      home: "Team 177",
      away: "Team 178",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 9,
    },
    {
      id: 90,
      home: "Team 179",
      away: "Team 180",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 9,
    },
    {
      id: 91,
      home: "Team 181",
      away: "Team 182",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 10,
    },
    {
      id: 92,
      home: "Team 183",
      away: "Team 184",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 10,
    },
    {
      id: 93,
      home: "Team 185",
      away: "Team 186",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 10,
    },
    {
      id: 94,
      home: "Team 187",
      away: "Team 188",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 10,
    },
    {
      id: 95,
      home: "Team 189",
      away: "Team 190",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 10,
    },
    {
      id: 96,
      home: "Team 191",
      away: "Team 192",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 10,
    },
    {
      id: 97,
      home: "Team 193",
      away: "Team 194",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 10,
    },
    {
      id: 98,
      home: "Team 195",
      away: "Team 196",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 10,
    },
    {
      id: 99,
      home: "Team 197",
      away: "Team 198",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 10,
    },
    {
      id: 100,
      home: "Team 199",
      away: "Team 200",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 10,
    },
    {
      id: 101,
      home: "Team 201",
      away: "Team 202",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 11,
    },
    {
      id: 102,
      home: "Team 203",
      away: "Team 204",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 11,
    },
    {
      id: 103,
      home: "Team 205",
      away: "Team 206",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 11,
    },
    {
      id: 104,
      home: "Team 207",
      away: "Team 208",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 11,
    },
    {
      id: 105,
      home: "Team 209",
      away: "Team 210",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 11,
    },
    {
      id: 106,
      home: "Team 211",
      away: "Team 212",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 11,
    },
    {
      id: 107,
      home: "Team 213",
      away: "Team 214",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 11,
    },
    {
      id: 108,
      home: "Team 215",
      away: "Team 216",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 11,
    },
    {
      id: 109,
      home: "Team 217",
      away: "Team 218",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 11,
    },
    {
      id: 110,
      home: "Team 219",
      away: "Team 220",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 11,
    },
    {
      id: 111,
      home: "Team 221",
      away: "Team 222",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 12,
    },
    {
      id: 112,
      home: "Team 223",
      away: "Team 224",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 12,
    },
    {
      id: 113,
      home: "Team 225",
      away: "Team 226",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 12,
    },
    {
      id: 114,
      home: "Team 227",
      away: "Team 228",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 12,
    },
    {
      id: 115,
      home: "Team 229",
      away: "Team 230",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 12,
    },
    {
      id: 116,
      home: "Team 231",
      away: "Team 232",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 12,
    },
    {
      id: 117,
      home: "Team 233",
      away: "Team 234",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 12,
    },
    {
      id: 118,
      home: "Team 235",
      away: "Team 236",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 12,
    },
    {
      id: 119,
      home: "Team 237",
      away: "Team 238",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 12,
    },
    {
      id: 120,
      home: "Team 239",
      away: "Team 240",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 12,
    },
    {
      id: 121,
      home: "Team 241",
      away: "Team 242",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 13,
    },
    {
      id: 122,
      home: "Team 243",
      away: "Team 244",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 13,
    },
    {
      id: 123,
      home: "Team 245",
      away: "Team 246",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 13,
    },
    {
      id: 124,
      home: "Team 247",
      away: "Team 248",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 13,
    },
    {
      id: 125,
      home: "Team 249",
      away: "Team 250",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 13,
    },
    {
      id: 126,
      home: "Team 251",
      away: "Team 252",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 13,
    },
    {
      id: 127,
      home: "Team 253",
      away: "Team 254",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 13,
    },
    {
      id: 128,
      home: "Team 255",
      away: "Team 256",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 13,
    },
    {
      id: 129,
      home: "Team 257",
      away: "Team 258",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 13,
    },
    {
      id: 130,
      home: "Team 259",
      away: "Team 260",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 13,
    },
    {
      id: 131,
      home: "Team 261",
      away: "Team 262",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 14,
    },
    {
      id: 132,
      home: "Team 263",
      away: "Team 264",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 14,
    },
    {
      id: 133,
      home: "Team 265",
      away: "Team 266",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 14,
    },
    {
      id: 134,
      home: "Team 267",
      away: "Team 268",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 14,
    },
    {
      id: 135,
      home: "Team 269",
      away: "Team 270",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 14,
    },
    {
      id: 136,
      home: "Team 271",
      away: "Team 272",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 14,
    },
    {
      id: 137,
      home: "Team 273",
      away: "Team 274",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 14,
    },
    {
      id: 138,
      home: "Team 275",
      away: "Team 276",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 14,
    },
    {
      id: 139,
      home: "Team 277",
      away: "Team 278",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 14,
    },
    {
      id: 140,
      home: "Team 279",
      away: "Team 280",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 14,
    },
    {
      id: 141,
      home: "Team 281",
      away: "Team 282",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 15,
    },
    {
      id: 142,
      home: "Team 283",
      away: "Team 284",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 15,
    },
    {
      id: 143,
      home: "Team 285",
      away: "Team 286",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 15,
    },
    {
      id: 144,
      home: "Team 287",
      away: "Team 288",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 15,
    },
    {
      id: 145,
      home: "Team 289",
      away: "Team 290",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 15,
    },
    {
      id: 146,
      home: "Team 291",
      away: "Team 292",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 15,
    },
    {
      id: 147,
      home: "Team 293",
      away: "Team 294",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 15,
    },
    {
      id: 148,
      home: "Team 295",
      away: "Team 296",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 15,
    },
    {
      id: 149,
      home: "Team 297",
      away: "Team 298",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 15,
    },
    {
      id: 150,
      home: "Team 299",
      away: "Team 300",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 15,
    },
    {
      id: 151,
      home: "Team 301",
      away: "Team 302",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 16,
    },
    {
      id: 152,
      home: "Team 303",
      away: "Team 304",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 16,
    },
    {
      id: 153,
      home: "Team 305",
      away: "Team 306",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 16,
    },
    {
      id: 154,
      home: "Team 307",
      away: "Team 308",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 16,
    },
    {
      id: 155,
      home: "Team 309",
      away: "Team 310",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 16,
    },
    {
      id: 156,
      home: "Team 311",
      away: "Team 312",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 16,
    },
    {
      id: 157,
      home: "Team 313",
      away: "Team 314",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 16,
    },
    {
      id: 158,
      home: "Team 315",
      away: "Team 316",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 16,
    },
    {
      id: 159,
      home: "Team 317",
      away: "Team 318",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 16,
    },
    {
      id: 160,
      home: "Team 319",
      away: "Team 320",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 16,
    },
    {
      id: 161,
      home: "Team 321",
      away: "Team 322",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 17,
    },
    {
      id: 162,
      home: "Team 323",
      away: "Team 324",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 17,
    },
    {
      id: 163,
      home: "Team 325",
      away: "Team 326",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 17,
    },
    {
      id: 164,
      home: "Team 327",
      away: "Team 328",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 17,
    },
    {
      id: 165,
      home: "Team 329",
      away: "Team 330",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 17,
    },
    {
      id: 166,
      home: "Team 331",
      away: "Team 332",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 17,
    },
    {
      id: 167,
      home: "Team 333",
      away: "Team 334",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 17,
    },
    {
      id: 168,
      home: "Team 335",
      away: "Team 336",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 17,
    },
    {
      id: 169,
      home: "Team 337",
      away: "Team 338",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 17,
    },
    {
      id: 170,
      home: "Team 339",
      away: "Team 340",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 17,
    },
    {
      id: 171,
      home: "Team 341",
      away: "Team 342",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 18,
    },
    {
      id: 172,
      home: "Team 343",
      away: "Team 344",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 18,
    },
    {
      id: 173,
      home: "Team 345",
      away: "Team 346",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 18,
    },
    {
      id: 174,
      home: "Team 347",
      away: "Team 348",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 18,
    },
    {
      id: 175,
      home: "Team 349",
      away: "Team 350",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 18,
    },
    {
      id: 176,
      home: "Team 351",
      away: "Team 352",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 18,
    },
    {
      id: 177,
      home: "Team 353",
      away: "Team 354",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 18,
    },
    {
      id: 178,
      home: "Team 355",
      away: "Team 356",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 18,
    },
    {
      id: 179,
      home: "Team 357",
      away: "Team 358",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 18,
    },
    {
      id: 180,
      home: "Team 359",
      away: "Team 360",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 18,
    },
    {
      id: 181,
      home: "Team 361",
      away: "Team 362",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 19,
    },
    {
      id: 182,
      home: "Team 363",
      away: "Team 364",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 19,
    },
    {
      id: 183,
      home: "Team 365",
      away: "Team 366",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 19,
    },
    {
      id: 184,
      home: "Team 367",
      away: "Team 368",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 19,
    },
    {
      id: 185,
      home: "Team 369",
      away: "Team 370",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 19,
    },
    {
      id: 186,
      home: "Team 371",
      away: "Team 372",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 19,
    },
    {
      id: 187,
      home: "Team 373",
      away: "Team 374",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 19,
    },
    {
      id: 188,
      home: "Team 375",
      away: "Team 376",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 19,
    },
    {
      id: 189,
      home: "Team 377",
      away: "Team 378",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 19,
    },
    {
      id: 190,
      home: "Team 379",
      away: "Team 380",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 19,
    },
    {
      id: 191,
      home: "Team 381",
      away: "Team 382",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 20,
    },
    {
      id: 192,
      home: "Team 383",
      away: "Team 384",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 20,
    },
    {
      id: 193,
      home: "Team 385",
      away: "Team 386",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 20,
    },
    {
      id: 194,
      home: "Team 387",
      away: "Team 388",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 20,
    },
    {
      id: 195,
      home: "Team 389",
      away: "Team 390",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 20,
    },
    {
      id: 196,
      home: "Team 391",
      away: "Team 392",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 20,
    },
    {
      id: 197,
      home: "Team 393",
      away: "Team 394",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 20,
    },
    {
      id: 198,
      home: "Team 395",
      away: "Team 396",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 20,
    },
    {
      id: 199,
      home: "Team 397",
      away: "Team 398",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 20,
    },
    {
      id: 200,
      home: "Team 399",
      away: "Team 400",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 20,
    },
    {
      id: 201,
      home: "Team 401",
      away: "Team 402",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 21,
    },
    {
      id: 202,
      home: "Team 403",
      away: "Team 404",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 21,
    },
    {
      id: 203,
      home: "Team 405",
      away: "Team 406",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 21,
    },
    {
      id: 204,
      home: "Team 407",
      away: "Team 408",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 21,
    },
    {
      id: 205,
      home: "Team 409",
      away: "Team 410",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 21,
    },
    {
      id: 206,
      home: "Team 411",
      away: "Team 412",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 21,
    },
    {
      id: 207,
      home: "Team 413",
      away: "Team 414",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 21,
    },
    {
      id: 208,
      home: "Team 415",
      away: "Team 416",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 21,
    },
    {
      id: 209,
      home: "Team 417",
      away: "Team 418",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 21,
    },
    {
      id: 210,
      home: "Team 419",
      away: "Team 420",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 21,
    },
    {
      id: 211,
      home: "Team 421",
      away: "Team 422",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 22,
    },
    {
      id: 212,
      home: "Team 423",
      away: "Team 424",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 22,
    },
    {
      id: 213,
      home: "Team 425",
      away: "Team 426",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 22,
    },
    {
      id: 214,
      home: "Team 427",
      away: "Team 428",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 22,
    },
    {
      id: 215,
      home: "Team 429",
      away: "Team 430",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 22,
    },
    {
      id: 216,
      home: "Team 431",
      away: "Team 432",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 22,
    },
    {
      id: 217,
      home: "Team 433",
      away: "Team 434",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 22,
    },
    {
      id: 218,
      home: "Team 435",
      away: "Team 436",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 22,
    },
    {
      id: 219,
      home: "Team 437",
      away: "Team 438",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 22,
    },
    {
      id: 220,
      home: "Team 439",
      away: "Team 440",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 22,
    },
    {
      id: 221,
      home: "Team 441",
      away: "Team 442",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 23,
    },
    {
      id: 222,
      home: "Team 443",
      away: "Team 444",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 23,
    },
    {
      id: 223,
      home: "Team 445",
      away: "Team 446",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 23,
    },
    {
      id: 224,
      home: "Team 447",
      away: "Team 448",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 23,
    },
    {
      id: 225,
      home: "Team 449",
      away: "Team 450",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 23,
    },
    {
      id: 226,
      home: "Team 451",
      away: "Team 452",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 23,
    },
    {
      id: 227,
      home: "Team 453",
      away: "Team 454",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 23,
    },
    {
      id: 228,
      home: "Team 455",
      away: "Team 456",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 23,
    },
    {
      id: 229,
      home: "Team 457",
      away: "Team 458",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 23,
    },
    {
      id: 230,
      home: "Team 459",
      away: "Team 460",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 23,
    },
    {
      id: 231,
      home: "Team 461",
      away: "Team 462",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 24,
    },
    {
      id: 232,
      home: "Team 463",
      away: "Team 464",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 24,
    },
    {
      id: 233,
      home: "Team 465",
      away: "Team 466",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 24,
    },
    {
      id: 234,
      home: "Team 467",
      away: "Team 468",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 24,
    },
    {
      id: 235,
      home: "Team 469",
      away: "Team 470",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 24,
    },
    {
      id: 236,
      home: "Team 471",
      away: "Team 472",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 24,
    },
    {
      id: 237,
      home: "Team 473",
      away: "Team 474",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 24,
    },
    {
      id: 238,
      home: "Team 475",
      away: "Team 476",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 24,
    },
    {
      id: 239,
      home: "Team 477",
      away: "Team 478",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 24,
    },
    {
      id: 240,
      home: "Team 479",
      away: "Team 480",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 24,
    },
    {
      id: 241,
      home: "Team 481",
      away: "Team 482",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 25,
    },
    {
      id: 242,
      home: "Team 483",
      away: "Team 484",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 25,
    },
    {
      id: 243,
      home: "Team 485",
      away: "Team 486",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 25,
    },
    {
      id: 244,
      home: "Team 487",
      away: "Team 488",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 25,
    },
    {
      id: 245,
      home: "Team 489",
      away: "Team 490",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 25,
    },
    {
      id: 246,
      home: "Team 491",
      away: "Team 492",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 25,
    },
    {
      id: 247,
      home: "Team 493",
      away: "Team 494",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 25,
    },
    {
      id: 248,
      home: "Team 495",
      away: "Team 496",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 25,
    },
    {
      id: 249,
      home: "Team 497",
      away: "Team 498",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 25,
    },
    {
      id: 250,
      home: "Team 499",
      away: "Team 500",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 25,
    },
    {
      id: 251,
      home: "Team 501",
      away: "Team 502",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 26,
    },
    {
      id: 252,
      home: "Team 503",
      away: "Team 504",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 26,
    },
    {
      id: 253,
      home: "Team 505",
      away: "Team 506",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 26,
    },
    {
      id: 254,
      home: "Team 507",
      away: "Team 508",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 26,
    },
    {
      id: 255,
      home: "Team 509",
      away: "Team 510",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 26,
    },
    {
      id: 256,
      home: "Team 511",
      away: "Team 512",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 26,
    },
    {
      id: 257,
      home: "Team 513",
      away: "Team 514",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 26,
    },
    {
      id: 258,
      home: "Team 515",
      away: "Team 516",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 26,
    },
    {
      id: 259,
      home: "Team 517",
      away: "Team 518",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 26,
    },
    {
      id: 260,
      home: "Team 519",
      away: "Team 520",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 26,
    },
    {
      id: 261,
      home: "Team 521",
      away: "Team 522",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 27,
    },
    {
      id: 262,
      home: "Team 523",
      away: "Team 524",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 27,
    },
    {
      id: 263,
      home: "Team 525",
      away: "Team 526",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 27,
    },
    {
      id: 264,
      home: "Team 527",
      away: "Team 528",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 27,
    },
    {
      id: 265,
      home: "Team 529",
      away: "Team 530",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 27,
    },
    {
      id: 266,
      home: "Team 531",
      away: "Team 532",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 27,
    },
    {
      id: 267,
      home: "Team 533",
      away: "Team 534",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 27,
    },
    {
      id: 268,
      home: "Team 535",
      away: "Team 536",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 27,
    },
    {
      id: 269,
      home: "Team 537",
      away: "Team 538",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 27,
    },
    {
      id: 270,
      home: "Team 539",
      away: "Team 540",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 27,
    },
    {
      id: 271,
      home: "Team 541",
      away: "Team 542",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 28,
    },
    {
      id: 272,
      home: "Team 543",
      away: "Team 544",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 28,
    },
    {
      id: 273,
      home: "Team 545",
      away: "Team 546",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 28,
    },
    {
      id: 274,
      home: "Team 547",
      away: "Team 548",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 28,
    },
    {
      id: 275,
      home: "Team 549",
      away: "Team 550",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 28,
    },
    {
      id: 276,
      home: "Team 551",
      away: "Team 552",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 28,
    },
    {
      id: 277,
      home: "Team 553",
      away: "Team 554",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 28,
    },
    {
      id: 278,
      home: "Team 555",
      away: "Team 556",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 28,
    },
    {
      id: 279,
      home: "Team 557",
      away: "Team 558",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 28,
    },
    {
      id: 280,
      home: "Team 559",
      away: "Team 560",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 28,
    },
    {
      id: 281,
      home: "Team 561",
      away: "Team 562",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 29,
    },
    {
      id: 282,
      home: "Team 563",
      away: "Team 564",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 29,
    },
    {
      id: 283,
      home: "Team 565",
      away: "Team 566",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 29,
    },
    {
      id: 284,
      home: "Team 567",
      away: "Team 568",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 29,
    },
    {
      id: 285,
      home: "Team 569",
      away: "Team 570",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 29,
    },
    {
      id: 286,
      home: "Team 571",
      away: "Team 572",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 29,
    },
    {
      id: 287,
      home: "Team 573",
      away: "Team 574",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 29,
    },
    {
      id: 288,
      home: "Team 575",
      away: "Team 576",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 29,
    },
    {
      id: 289,
      home: "Team 577",
      away: "Team 578",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 29,
    },
    {
      id: 290,
      home: "Team 579",
      away: "Team 580",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 29,
    },
    {
      id: 291,
      home: "Team 581",
      away: "Team 582",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 30,
    },
    {
      id: 292,
      home: "Team 583",
      away: "Team 584",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 30,
    },
    {
      id: 293,
      home: "Team 585",
      away: "Team 586",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 30,
    },
    {
      id: 294,
      home: "Team 587",
      away: "Team 588",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 30,
    },
    {
      id: 295,
      home: "Team 589",
      away: "Team 590",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 30,
    },
    {
      id: 296,
      home: "Team 591",
      away: "Team 592",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 30,
    },
    {
      id: 297,
      home: "Team 593",
      away: "Team 594",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 30,
    },
    {
      id: 298,
      home: "Team 595",
      away: "Team 596",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 30,
    },
    {
      id: 299,
      home: "Team 597",
      away: "Team 598",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 30,
    },
    {
      id: 300,
      home: "Team 599",
      away: "Team 600",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 30,
    },
    {
      id: 301,
      home: "Team 601",
      away: "Team 602",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 31,
    },
    {
      id: 302,
      home: "Team 603",
      away: "Team 604",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 31,
    },
    {
      id: 303,
      home: "Team 605",
      away: "Team 606",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 31,
    },
    {
      id: 304,
      home: "Team 607",
      away: "Team 608",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 31,
    },
    {
      id: 305,
      home: "Team 609",
      away: "Team 610",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 31,
    },
    {
      id: 306,
      home: "Team 611",
      away: "Team 612",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 31,
    },
    {
      id: 307,
      home: "Team 613",
      away: "Team 614",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 31,
    },
    {
      id: 308,
      home: "Team 615",
      away: "Team 616",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 31,
    },
    {
      id: 309,
      home: "Team 617",
      away: "Team 618",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 31,
    },
    {
      id: 310,
      home: "Team 619",
      away: "Team 620",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 31,
    },
    {
      id: 311,
      home: "Team 621",
      away: "Team 622",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 32,
    },
    {
      id: 312,
      home: "Team 623",
      away: "Team 624",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 32,
    },
    {
      id: 313,
      home: "Team 625",
      away: "Team 626",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 32,
    },
    {
      id: 314,
      home: "Team 627",
      away: "Team 628",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 32,
    },
    {
      id: 315,
      home: "Team 629",
      away: "Team 630",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 32,
    },
    {
      id: 316,
      home: "Team 631",
      away: "Team 632",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 32,
    },
    {
      id: 317,
      home: "Team 633",
      away: "Team 634",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 32,
    },
    {
      id: 318,
      home: "Team 635",
      away: "Team 636",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 32,
    },
    {
      id: 319,
      home: "Team 637",
      away: "Team 638",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 32,
    },
    {
      id: 320,
      home: "Team 639",
      away: "Team 640",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 32,
    },
    {
      id: 321,
      home: "Team 641",
      away: "Team 642",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 33,
    },
    {
      id: 322,
      home: "Team 643",
      away: "Team 644",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 33,
    },
    {
      id: 323,
      home: "Team 645",
      away: "Team 646",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 33,
    },
    {
      id: 324,
      home: "Team 647",
      away: "Team 648",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 33,
    },
    {
      id: 325,
      home: "Team 649",
      away: "Team 650",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 33,
    },
    {
      id: 326,
      home: "Team 651",
      away: "Team 652",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 33,
    },
    {
      id: 327,
      home: "Team 653",
      away: "Team 654",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 33,
    },
    {
      id: 328,
      home: "Team 655",
      away: "Team 656",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 33,
    },
    {
      id: 329,
      home: "Team 657",
      away: "Team 658",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 33,
    },
    {
      id: 330,
      home: "Team 659",
      away: "Team 660",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 33,
    },
    {
      id: 331,
      home: "Team 661",
      away: "Team 662",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 34,
    },
    {
      id: 332,
      home: "Team 663",
      away: "Team 664",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 34,
    },
    {
      id: 333,
      home: "Team 665",
      away: "Team 666",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 34,
    },
    {
      id: 334,
      home: "Team 667",
      away: "Team 668",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 34,
    },
    {
      id: 335,
      home: "Team 669",
      away: "Team 670",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 34,
    },
    {
      id: 336,
      home: "Team 671",
      away: "Team 672",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 34,
    },
    {
      id: 337,
      home: "Team 673",
      away: "Team 674",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 34,
    },
    {
      id: 338,
      home: "Team 675",
      away: "Team 676",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 34,
    },
    {
      id: 339,
      home: "Team 677",
      away: "Team 678",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 34,
    },
    {
      id: 340,
      home: "Team 679",
      away: "Team 680",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 34,
    },
    {
      id: 341,
      home: "Team 681",
      away: "Team 682",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 35,
    },
    {
      id: 342,
      home: "Team 683",
      away: "Team 684",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 35,
    },
    {
      id: 343,
      home: "Team 685",
      away: "Team 686",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 35,
    },
    {
      id: 344,
      home: "Team 687",
      away: "Team 688",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 35,
    },
    {
      id: 345,
      home: "Team 689",
      away: "Team 690",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 35,
    },
    {
      id: 346,
      home: "Team 691",
      away: "Team 692",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 35,
    },
    {
      id: 347,
      home: "Team 693",
      away: "Team 694",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 35,
    },
    {
      id: 348,
      home: "Team 695",
      away: "Team 696",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 35,
    },
    {
      id: 349,
      home: "Team 697",
      away: "Team 698",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 35,
    },
    {
      id: 350,
      home: "Team 699",
      away: "Team 700",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 35,
    },
    {
      id: 351,
      home: "Team 701",
      away: "Team 702",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 36,
    },
    {
      id: 352,
      home: "Team 703",
      away: "Team 704",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 36,
    },
    {
      id: 353,
      home: "Team 705",
      away: "Team 706",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 36,
    },
    {
      id: 354,
      home: "Team 707",
      away: "Team 708",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 36,
    },
    {
      id: 355,
      home: "Team 709",
      away: "Team 710",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 36,
    },
    {
      id: 356,
      home: "Team 711",
      away: "Team 712",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 36,
    },
    {
      id: 357,
      home: "Team 713",
      away: "Team 714",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 36,
    },
    {
      id: 358,
      home: "Team 715",
      away: "Team 716",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 36,
    },
    {
      id: 359,
      home: "Team 717",
      away: "Team 718",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 36,
    },
    {
      id: 360,
      home: "Team 719",
      away: "Team 720",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 36,
    },
    {
      id: 361,
      home: "Team 721",
      away: "Team 722",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 37,
    },
    {
      id: 362,
      home: "Team 723",
      away: "Team 724",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 37,
    },
    {
      id: 363,
      home: "Team 725",
      away: "Team 726",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 37,
    },
    {
      id: 364,
      home: "Team 727",
      away: "Team 728",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 37,
    },
    {
      id: 365,
      home: "Team 729",
      away: "Team 730",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 37,
    },
    {
      id: 366,
      home: "Team 731",
      away: "Team 732",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 37,
    },
    {
      id: 367,
      home: "Team 733",
      away: "Team 734",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 37,
    },
    {
      id: 368,
      home: "Team 735",
      away: "Team 736",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 37,
    },
    {
      id: 369,
      home: "Team 737",
      away: "Team 738",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 37,
    },
    {
      id: 370,
      home: "Team 739",
      away: "Team 740",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 37,
    },
    {
      id: 371,
      home: "Team 741",
      away: "Team 742",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 38,
    },
    {
      id: 372,
      home: "Team 743",
      away: "Team 744",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 38,
    },
    {
      id: 373,
      home: "Team 745",
      away: "Team 746",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 38,
    },
    {
      id: 374,
      home: "Team 747",
      away: "Team 748",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 38,
    },
    {
      id: 375,
      home: "Team 749",
      away: "Team 750",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 38,
    },
    {
      id: 376,
      home: "Team 751",
      away: "Team 752",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 38,
    },
    {
      id: 377,
      home: "Team 753",
      away: "Team 754",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 38,
    },
    {
      id: 378,
      home: "Team 755",
      away: "Team 756",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 38,
    },
    {
      id: 379,
      home: "Team 757",
      away: "Team 758",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 38,
    },
    {
      id: 380,
      home: "Team 759",
      away: "Team 760",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 38,
    },
    {
      id: 381,
      home: "Team 761",
      away: "Team 762",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 39,
    },
    {
      id: 382,
      home: "Team 763",
      away: "Team 764",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 39,
    },
    {
      id: 383,
      home: "Team 765",
      away: "Team 766",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 39,
    },
    {
      id: 384,
      home: "Team 767",
      away: "Team 768",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 39,
    },
    {
      id: 385,
      home: "Team 769",
      away: "Team 770",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 39,
    },
    {
      id: 386,
      home: "Team 771",
      away: "Team 772",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 39,
    },
    {
      id: 387,
      home: "Team 773",
      away: "Team 774",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 39,
    },
    {
      id: 388,
      home: "Team 775",
      away: "Team 776",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 39,
    },
    {
      id: 389,
      home: "Team 777",
      away: "Team 778",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 39,
    },
    {
      id: 390,
      home: "Team 779",
      away: "Team 780",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 39,
    },
    {
      id: 391,
      home: "Team 781",
      away: "Team 782",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 40,
    },
    {
      id: 392,
      home: "Team 783",
      away: "Team 784",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 40,
    },
    {
      id: 393,
      home: "Team 785",
      away: "Team 786",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 40,
    },
    {
      id: 394,
      home: "Team 787",
      away: "Team 788",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 40,
    },
    {
      id: 395,
      home: "Team 789",
      away: "Team 790",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 40,
    },
    {
      id: 396,
      home: "Team 791",
      away: "Team 792",
      startTime: "2023-12-15T09:00:00.000Z",
      leagueId: 40,
    },
    {
      id: 397,
      home: "Team 793",
      away: "Team 794",
      startTime: "2023-12-15T08:00:00.000Z",
      leagueId: 40,
    },
    {
      id: 398,
      home: "Team 795",
      away: "Team 796",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 40,
    },
    {
      id: 399,
      home: "Team 797",
      away: "Team 798",
      startTime: "2023-12-15T11:00:00.000Z",
      leagueId: 40,
    },
    {
      id: 400,
      home: "Team 799",
      away: "Team 800",
      startTime: "2023-12-15T10:00:00.000Z",
      leagueId: 40,
    },
  ],
} as unknown as { events: EventRowType[] };
---

<Layout title="Admin">
  <main>
    <AdminView events={data.events} client:load />
  </main>
</Layout>
